
.icon-googleplus-rect:before { content: '\e800'; } /* '' */
.icon-twitter-bird:before { content: '\e801'; } /* '' */
.icon-facebook-rect:before { content: '\e802'; } /* '' */
.icon-youtube:before { content: '\e803'; } /* '' */
.icon-emo-laugh:before { content: '\e804'; } /* '' */
.icon-college:before { content: '\e805'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-pencil:before { content: '\e807'; } /* '' */